<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('../../partials/header') -%>
        <%- include('../../partials/styles') -%>
</head>

<body>
    <%- include('../../partials/navbar.ejs') -%>
        <div class="main">
            <h1 class="fontCaveat" style="font-size: 46px; text-align: center; margin-top: 10px">
                Show me the money!!!!!
            </h1>
            <div class="gif">
                <img src="/images/showmethemoney.gif" alt="" />
            </div>
            <div class="qrcode">
                <img src="/images/qrcode.JPG" alt="" style="width: 200px"/>
            </div>
        </div>

        <%- include('../../partials/scripts') -%>
</body>

</html>