<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('../../partials/header') -%>
        <%- include('../../partials/styles') -%>
</head>

<body>



    <%- include('../../partials/navbar.ejs') -%>
        <div class="main">
            <h1 class="fontCaveat" style="font-size: 46px; text-align: center; margin-top: 10px;">Welcome to Chris
                Enterprise</h1>
            <!-- <h1 class="fontCaveat" style="font-size: 46px; text-align: center; margin-top: 10px;">In CHRIS We Trust</h1> -->
            <div style="width: 80%; margin: 10px auto; text-align: center;">

                <img src="https://picsum.photos/800/600" alt="">
            </div>
            <p style="text-align: center; ">Copyright &copy; 2021 Chris</p>
        </div>


        <%- include('../../partials/scripts') -%>
</body>

</html>